version: '3.8'

services:
    mongodb:
        container_name: mongodb
        image: mongo:latest
        restart: unless-stopped
        ports:
            - 27017:27017
        volumes:
            - db:/data/db
    app:
        container_name: api
        build:
            context: .
            dockerfile: Dockerfile
            args:
                - PORT=${PORT}
        depends_on:
            - mongodb
        restart: unless-stopped
        env_file: .env
        ports:
            - ${PORT}:${PORT}
        environment:
            - TOKEN=${TOKEN}
            - PORT=${PORT}
            - MONGODB_ENABLED=${MONGODB_ENABLED}
            - MONGODB_URL=mongodb://mongodb:27017
            - WEBHOOK_ENABLED=${WEBHOOK_ENABLED}
            - WEBHOOK_URL=${WEBHOOK_URL}
            - WEBHOOK_BASE64=${WEBHOOK_BASE64}
        volumes:
            - ./:/home/node/app
            - /home/node/app/node_modules/

# === PostgreSQL para n8n ===
    postgres_ev:
        image: postgres:15
        container_name: postgres_ev
        restart: unless-stopped
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        env_file:
            - db_postgres.env

  # === Evolution API (conexión a WhatsApp u otro servicio) ===
    evolution_api:
        container_name: evolution_api
        image: evoapicloud/evolution-api:v2.3.6
        restart: unless-stopped
        env_file:
            - evolution_api.env
        depends_on:
            - postgres_ev
        ports:
            - "8080:8080"
        volumes:
            - evolution_data:/app/data

  # === n8n (automatización) ===
    n8n:
        image: n8nio/n8n:1.121.2
        container_name: n8n
        restart: "no"
        depends_on:
            - postgres_ev
        environment:
            - DB_TYPE=postgresdb
            - DB_POSTGRESDB_HOST=postgres_ev
            - DB_POSTGRESDB_PORT=5432
            - DB_POSTGRESDB_USER=postgres
            - DB_POSTGRESDB_PASSWORD=postgresql
            - DB_POSTGRESDB_DATABASE=n8n
            - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
            - N8N_RUNNERS_ENABLED=true
            - N8N_BLOCK_ENV_ACCESS_IN_NODE=false
            - N8N_GIT_NODE_DISABLE_BARE_REPOS=true
            - N8N_PROTOCOL=http
            - N8N_SECURE_COOKIE=false
            - N8N_BASIC_AUTH_ACTIVE=true
            - N8N_BASIC_AUTH_USER=admin
            - N8N_BASIC_AUTH_PASSWORD=admin123
            - N8N_HOST=localhost
            - N8N_PORT=5678
            - WEBHOOK_URL=http://127.0.0.1:5678/
        ports:
            - "5678:5678"
        volumes:
            - n8n_data:/home/node/.n8n
volumes:
  db:
  postgres_data:
  evolution_data:
  n8n_data:
